body {
	font-family: arial, sans-serif;
	font-size: 13px;
}

a {text-decoration: none;}

li {display: inline-block;}

.results, .related, .pages {
	margin-left: 130px;
}

/*=================================================
Header
===================================================*/
.header {
	position: relative;
	height: 60px; width: 100%;
	background-color: #f1f1f1;
	border-bottom: 1px solid #e5e5e5;
}

#logo {
	margin: 0 15px;
	vertical-align: middle;
}

#search {
	display: inline; 
	line-height: 60px;
}

input[type="text"] {
	height: 35px; width: 580px;
	border: 1px solid #ccc;
	font-size: 16px; color: #222;
	padding-left: 10px;
	vertical-align: middle;
}

input[type="text"]:hover {border: 1px solid #666;}

input[type="image"]{
	background-color: #4285F4;
	padding: 9.5px;
	margin-left: -5px;
	cursor: default;
	vertical-align: middle;
}

.apps_signin {
	position: relative;
	float: right;
	margin-top: 15px;
}

#grid {vertical-align: middle;}

#signin {
	background-color: #4285F4;
	padding: 8px 12px 8px 12px;
	margin: 0 20px;
	border-radius: 2px;
}

#signin a {
	color: #fff;
	font: 13px arial,sans-serif;
	font-weight: bold;
	text-decoration: none;
}

/*=================================================
Options
===================================================*/
.options {
	position: relative;
	height: 60px;
	padding-left: 120px;
	border-bottom: 1px solid #ebebeb;
}

.options a {
	color: #777;
	line-height: 60px;
	padding: 20px 8px;
	margin: 8px;
}

.options a:hover {color: #222;}

#menu_highlight a {
	font-weight: bold;
	color: #4285F4;
	border-bottom: 3px solid #4285F4;
}

#tools a:hover {
	padding: 8px;
	background-color: #eee;
	border-radius: 2px;
}

#gear {float: right;}

#gear img {vertical-align: middle;}

#gear a {
	padding: 7px 25px;
	background-color: #eee;
	border: 1px solid #ccc;
	margin-right: 30px;
	border-radius: 2px;
}

.arrow_down {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #777;
	display: inline-block;
}

.arrow_down:hover {border-top: 5px solid #222;}

/*=================================================
Search Results
===================================================*/
.results {
	position: relative;
	width: 590px;
	line-height: 18px;
	margin-top: 12px;
}

p {color: #545454;}

span {color: #808080;}

.results li {margin: 12px 0;}

.results a:link {
	color: #1a0dab;
	font-size: 18px;
}

.results a:hover {text-decoration: underline;}

.results a.visited {color: #609;}

cite {
	color: #006621;
	font-size: 14px;
}

#site_blurb {
	font-size: 14px;
	padding: 0 5px;
	color: #808080;
	text-decoration: none;
}

#site_blurb:hover {
	color: black;
}

.arrow_link, .arrow_blurb {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	display: inline-block;
}

.arrow_link {border-top: 5px solid #006621;}

.arrow_blurb {border-top: 5px solid #808080;}
.arrow_blurb:hover {border-top: 5px solid #222;}

/*=================================================
Related Searches
===================================================*/
.related {
	width: 590px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 15px 0;
}

.related a {color: #1a0dab;}

.related a:hover {text-decoration: underline;}

h3 {
	font-size: 18px;
	color: #808080;
	padding-bottom: 6px;
}

tr {height: 24px;}

td {padding: 8px 16px 8px 0;}

/*=================================================
Pages
===================================================*/
.pages {
	width: 590px;
	margin: 25px 250px;
}

.pages a:link {
	color: #1a0dab;
	padding: 0 8px 0 0;
}

.pages a:hover {text-decoration: underline;}

.pages a:visited {color: #609;}

.pages li:first-child {margin-left: 38px;}

.pages li:last-child {padding-left: 45px;}

/*=================================================
Footer
===================================================*/
.footer {
	position: relative;
	box-sizing: border-box;
	padding-left: 130px;
	height: 86px;
	width: 100%;
	background-color: #eee;
	bottom: 0;
	border-top: 1px solid #e4e4e4;
}

.footer a {
	color: #777;
	display: inline-block;
}

.footer a:hover {color: #333;}

.f_upper a {margin: 20px 0 10px 0;}

.f_lower a {margin: 15px 15px 15px 0;}

#circle {
	width: 10px; height: 10px;
	border-radius: 50px;
	background-color: #aaa;
}

#location {color: #aaa;}